@media (max-width: 767px) {
    #button {
      display: block;
      bottom: 0;
    }
}
@media (min-width: 430px) {
    #button {
      display: block;
    }
}

@media (max-width: 767px) {
    footer {
      display: none;
    }
}

@media (max-width: 767px) {
    #text {
      text-align: center;
    }
}